@import "tailwindcss";

body {
  font-family: var(--font-roboto), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-inter), sans-serif;
}

h2 {
  @apply mb-3;
}

h3 {
  @apply mb-2
    font-bold;
}

h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #6b7280, transparent);
}

ul {
  @apply pl-[18px]
  list-disc;
}

.heading {
  @apply relative
    uppercase
    text-2xl
    tracking-[0.2rem];
}

.period {
  @apply mb-1
    italic;
}